# Virtual environments
.venv/

# Data files
data/*
!data/.gitkeep

# Compiled Python files
__pycache__/
*.py[cod]

# Build artifacts
src/naira_health.egg-info/

# Lock file
uv.lock

# Miscellaneous
*.log
.DS_Store
*gpkg
